@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  width: 100%;
  height: 1200px;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}
/* body::after{
  background: url('./statics/movie.jpeg');
  background-size: cover;
  opacity: 0.5;
} */

body::after {
  background: url('./statics/movie.jpeg');
  background-size: cover;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: white 1px solid;
  border-radius: 10px;
  padding: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recommendation-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: white 1px solid;
  border-radius: 10px;
  margin: auto;
  padding: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recommendations-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  /* flex-wrap: wrap; */
}